.btn { 
    padding: 10px 5px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
.black-box {
    font-size: 25px;
    color: white;
    background-color: black;
}
.caja {
    color: red;
}